@font-face {
  font-family: 'TT Lakes Regular';
  src: url(/src/fonts/TTLakes-Regular.ttf);
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url(/src/fonts/TTLakes-Medium.ttf);
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url(/src/fonts/TTLakes-Bold.ttf);
}
