body {
  width: 320px;
  margin: 0 auto;
}

main {
  background-color: $main-background-color;
  font-family: 'TT Lakes Regular', serif;
  padding: 0 0 0 16px;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  color: $secondary-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-left: -16px;
  padding-right: 55px;
  padding: 16px;
  background-image: linear-gradient(#f8f8f8, #ffffff);
  border-top: 1px solid $section-border-color;
}

footer {
  background-color: $main-background-color;
  font-family: 'TT Lakes Medium', serif;
  color: $secondary-text-color;
  font-size: 14px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;

  span {
    display: inline-block;
  }

  a {
    display: inline-block;
    color: $secondary-text-color;
  }
}

a {
  text-decoration: none;
}

@media screen and (min-width: $screen-md) {
  body {
    width: 768px;
  }

  main {
    padding-left: 24px;
  }

  h2 {
    margin-left: -24px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      flex-grow: 1;
      flex-basis: 0;
    }

    span {
      flex-grow: 1;
      flex-basis: 0;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}

@media screen and (min-width: $screen-lg) {
  body {
    width: 1440px;
  }

  .main-page__wrapper {
    width: 1120px;
  }

  main {
    padding-left: 34px;
  }

  h2 {
    margin-left: -34px;
  }
}
