$primary-text-color: #1b1c21;
$secondary-text-color: #7e7e82;
$button-color: #ff3e79;
$utility-color: #41f6d7;
$main-background-color: #f8f8f8;
$menu-background-color: #ffffff;
$section-border-color: #d9fff5;
$screen-sm: 320px;
$screen-md: 767px;
$screen-lg: 1440px;
